.grey10 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
	line-height: 17pt;
	font-weight: bolder;
	letter-spacing: 1pt;

}
.grey9 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	color: #333333;
	text-decoration: none;
	line-height: 12pt;
	letter-spacing: 1pt;
	height: 20pt;
	padding: 4pt;
	border: none;







}
.grey8 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
	line-height: 16pt;


}
.grey9b {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 11pt;
	color: #333333;
	text-decoration: none;
	line-height: 14pt;
	font-weight: bolder;
	letter-spacing: 1pt;
	height: 14pt;





}
a.link1 {
	text-decoration: none;
	color: #333399;
	font-size: 10pt;
	letter-spacing: 1pt;



}
a.link1:hover {
	color: #CC0033;
	text-decoration: underline overline;
	font-size: 10pt;
	letter-spacing: 1pt;


}
.copyright {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	color: #333333;
	text-decoration: none;
	line-height: 16pt;
	letter-spacing: 1pt;
	background-color: #F8CF00;


}
a.link2 {

	text-decoration: none;
	color: #333399;
	font-size: 8pt;
	letter-spacing: 1pt;
}
a.link2:hover {

	color: #CC0033;
	text-decoration: underline overline;
	font-size: 8pt;
	letter-spacing: 1pt;
}
a.link {
	color: #000000;
	text-decoration: none;

}
a.link:hover {
	text-decoration: underline overline;
	color: #DA5A00;

}
.greyb10 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
	line-height: 12pt;
	letter-spacing: 1pt;
	height: 20pt;
	font-weight: bolder;

}
.greyb9 {

	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 9pt;
	color: #666666;
	text-decoration: none;
	line-height: 12pt;
	letter-spacing: 1pt;
	height: 20pt;
	font-weight: bolder;
}
.table1 {
	background-color: #FDF2F1;
}
.table2 {
	background-color: #FFE363;
}
.table3 {
	background-color: #FFFFFF;
}
.table4 {
	background-color: #C4938E;
}
.grey8b {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 10pt;
	color: #333333;
	text-decoration: none;
	line-height: 16pt;
	font-weight: bolder;

}
